name: vietspots
description: "A modern Flutter app for discovering Vietnamese tourist destinations with AI-powered recommendations and professional UI/UX design."
publish_to: 'none'

# The following defines the version and build number for your application.
# A version number is three numbers separated by dots, like 1.2.43
# followed by an optional build number separated by a +.
# Both the version and the builder number may be overridden in flutter
# build by specifying --build-name and --build-number, respectively.
# In Android, build-name is used as versionName while build-number used as versionCode.
# Read more about Android versioning at https://developer.android.com/studio/publish/versioning
# In iOS, build-name is used as CFBundleShortVersionString while build-number is used as CFBundleVersion.
# Read more about iOS versioning at
# https://developer.apple.com/library/archive/documentation/General/Reference/InfoPlistKeyReference/Articles/CoreFoundationKeys.html
# In Windows, build-name is used as the major, minor, and patch parts
# of the product and file versions while build-number is used as the build suffix.
version: 1.0.0+1

environment:
  sdk: ^3.10.3

# Dependencies specify other packages that your package needs in order to work.
# To automatically upgrade your package dependencies to the latest versions
# consider running `flutter pub upgrade --major-versions`. Alternatively,
# dependencies can be manually updated by changing the version numbers below to
# the latest version available on pub.dev. To see which dependencies have newer
# versions available, run `flutter pub outdated`.
dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.8

  # State Management
  provider: ^6.1.2

  # UI & Fonts
  google_fonts: ^6.3.3
  flutter_svg: ^2.2.3
  flutter_markdown: ^0.7.4+1
  cached_network_image: ^3.3.1

  # Utilities
  url_launcher: ^6.2.5
  permission_handler: ^12.0.1
  intl: ^0.20.2

  # Media (Avatar)
  image_picker: ^1.1.2
  # Mapping
  flutter_map: ^8.2.2
  latlong2: ^0.9.1
  geolocator: ^14.0.2
  # Apple Sign-In (force newer compatible plugin)
  sign_in_with_apple: ^7.0.1
  crop_your_image: ^2.0.0
  path_provider: ^2.1.5
  shared_preferences: ^2.3.2
  uuid: ^4.4.2

  # Networking
  http: ^1.6.0
  
  # Supabase client for storage and auth
  supabase_flutter: ^2.12.0
  # Load environment variables securely
  flutter_dotenv: ^5.0.3
  # Mime type lookup for uploads
  mime: ^2.0.0
  # Parse MediaType for multipart content-type
  http_parser: ^4.0.0
  # Recording and audio playback for STT/TTS
  audioplayers: ^6.5.1
  # Local speech-to-text (uses platform speech recognizer)
  speech_to_text: ^7.3.0
  # WebView (use newer android plugin to satisfy AGP namespace requirement)
  webview_flutter: ^4.13.0
  webview_flutter_android: ^4.10.11

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_launcher_icons: ^0.14.4

  # The "flutter_lints" package below contains a set of recommended lints to
  # encourage good coding practices. The lint set provided by the package is
  # activated in the `analysis_options.yaml` file located at the root of your
  # package. See that file for information about deactivating specific lint
  # rules and activating additional ones.
  flutter_lints: ^6.0.0

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter packages.
flutter:

  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true

  assets:
    - assets/icons/
    - .env

flutter_launcher_icons:
  android: true
  image_path: assets/icons/vietspots_app_icon.png

  # To add assets to your application, add an assets section, like this:
  # assets:
  #   - images/a_dot_burr.jpeg
  #   - images/a_dot_ham.jpeg

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/to/resolution-aware-images

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/to/asset-from-package

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/to/font-from-package
